<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bearfoot News</title>

    <!-- Style Sheet -->

    <!-- Test Framework -->
    <script type="text/javascript" src="../spec/assert.js"></script>

    <!-- Javascript -->

    <!-- Tests -->
    <script type="text/javascript" src="../spec/featureSpec.js"></script>


  </head>
  <body id="body" >
    <h1>Bearfoot News  |  Team Barefoot</h1>
    <section id="headlines">
		</section>
    <div id="headline-list">
      <ul id="notes" class="list-group">
      </ul>
    </div>

    <section>
      <p id="story-summary">

      </p>
    </section>
  </body>
</html>
