<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bearfoot News</title>

    <!-- Style Sheet -->

    <!-- Test Framework -->
    <script type="text/javascript" src="../spec/assert.js"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="../src/storyComponent.js"></script>

    <!-- Tests -->
    <script type="text/javascript" src="../spec/storyComponentSpec.js"></script>
    <script type="text/javascript" src="../spec/featureSpec.js"></script>

  </head>
  <body id="body" >
    <h1>Bearfoot News  |  Team Barefoot</h1>
    <section id="headlines">
      <ul id="headline" class="list-group">
        <li>Team Barefoot makes waves in tech news</li>
      </ul>
		</section>

    <section>
      <p id="story-summary">

      </p>
    </section>
  </body>
</html>
